 .sticky {
position: absolute;
bottom: 0;
}
.input-group-text {
	background-color: transparent;
}
.col-12 {
border-bottom: 1px solid #dadce0;
}
#navbar {
justify-content: space-around;
}
.col {
text-align: justify;
word-spacing: normal;
}
.mainimage {
max-height: 100%;
max-width: 100%;
object-fit: contain;
object-position: center bottom;
width: auto;
}